* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
h2 {
  text-decoration: #000000 underline;
}
header {
  text-align: center;
}

#padding {
  padding: 10px;
}
.header {
  background-color: rgb(111, 111, 231);
  color: white;
}
img {
  border-radius: 50%;
}
nav ul {
  list-style: none;
  display: inline-flex;
  gap: 30px;
  font-weight: bold;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #f6b5b5;
}

.about-me {
  background-color: #ffffff;
  padding: 40px;
  margin: 10px;
}

p {
  line-height: 1.5;
}

#skills {
  display: flex;
  padding-left: 20px;
  gap: 40px;
}
.skills {
  background-color: aliceblue;
  padding: 40px;
  margin: 10px;
}
.box {
  background-color: #ffffff;
  padding: 10px;
  transition: transform 1s ease;
}
.box:hover {
    transform: translateX(2px);
}

.my-work {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
.box h3 {
  color: blue;
}
.my-work-box {
margin-bottom: 20px;
}

.my-work-box a {
  text-decoration: none;
  color: blue;
}
.my-work-box a:hover {
 text-decoration: underline;
}

#contact-me {
  padding: 20px;
  background-color: aliceblue;
  margin: 20px;
}
#email {
  padding: 20px;
  margin: 20px;
  color: blue;
}
footer {
  background-color: rgb(111, 111, 231);
  color: white;
  padding: 40px;
  text-align: center;
}
